<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGB_Fighters_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGB_Fighters_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RGB_Fighters_Launcher.Properties.Settings>
            <setting name="launcherUrl" serializeAs="String">
                <value>http://rgbfighters.videogamezone.eu</value>
            </setting>
            <setting name="unzipperFile" serializeAs="String">
                <value>7za.exe</value>
            </setting>
        </RGB_Fighters_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RGB_Fighters_Launcher.Properties.Settings>
            <setting name="launcherZip" serializeAs="String">
                <value>RGBFighters.7z</value>
            </setting>
            <setting name="clientFolderName" serializeAs="String">
                <value>Client</value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value>Client\RGB Fighters.exe</value>
            </setting>
        </RGB_Fighters_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>